* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body {
    background-color:rgb(238 244 242);
}

.wrapper {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.calcWrapper {
    width: 420px;
    background-color: rgb(208, 208, 249);
    padding:2em 1em;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: .3em .5em 0px rgb(152, 215, 211);
}

.divide {
    width: 90%;
    height: 1.5px;
    background-color: rgb(249, 247, 208);
    margin:0em 0em .4em 0em;
}

.calcDisplay {
    width: 90%;
    padding:1em;
    margin:0em 0em 1em 0em;
    height: 130px;
    background-color:rgb(249, 218, 250);
    box-shadow: .5em .5em 0px rgb(232, 163, 221) inset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Sono', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

.secondNum {
    font-weight: 300;
    color:rgb(194, 100, 177);
    font-size: 1.5em;
}

.mainNum {
    color:rgb(159, 142, 216);
    font-size: 2em;
    height: 65px;
    text-shadow: 2px 2px 0px rgba(232, 163, 221, .7) ;
}


.calcGrid {
    display:grid;
    gap:1em;
    margin:.5em;
    width: 90%;
    grid-template-columns: repeat(4, auto);
}

.calcGrid button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.6em;
    cursor: pointer;
    background-color: rgb(160, 169, 230);
    border:none;
    border-radius: 10px;
    box-shadow: 0px .3em 0px rgb(127, 123, 198);
    color:#fff;
    font-family: 'Sono', sans-serif;
    font-size: 1.5rem;
}

.calcGrid button:active,
#add:active,
#subtract:active,
#multiply:active,
#divide:active {
    background-color:#fff;
    color: rgb(168, 168, 226);
}

/* -n is basically 0  */
.calcGrid button:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(230 160 223);
    box-shadow: 0px .3em 0px rgb(210, 117, 178);
}

.calcGrid button:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(230 160 223);
    box-shadow: 0px .3em 0px rgb(210, 117, 178);
}

.calcGrid button:nth-child(-n + 2):active {
    background-color:#fff;
    color: rgb(230 160 223);
}

#add,
#subtract,
#multiply,
#divide {
    background-color: rgb(187, 236, 236);
    color: rgb(160, 169, 230);
    box-shadow: 0px .3em 0px rgb(93, 159, 172);
}

@media only screen and (max-width:425px) {
    .wrapper {
        width: 90%;
    }
}
